@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-page{
  display: flex;
  font-family: "Ubuntu";
  font-weight: 700;
  background-color: rgb(10, 1, 1);
  color: wheat;
  padding: 10px;
  height: 100vh;
  justify-content: end;
}

.main-page .dark-mode,.main-page .light-mode{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.main-page .light-mode{
  
}
.main-page .dark-mode div,.main-page .light-mode div{
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid ;

}
.single-side{
  text-transform: capitalize;
  justify-content: center;
  display: grid;
  width: 80%;
  height: 100%;
  grid-template-columns: repeat(2,150px);
  grid-template-rows: repeat(2, 100px) 150px 150px;
  transform: translateY(20px);
}
.primary{
  grid-row: 3/5;
}

.secondary,.accent{
  grid-row: 1/3;
}
.main-page .buttons-wrapper{
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
}
.main-page button{
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Ubuntu";
  font-weight: 600px;
  cursor: pointer;
  transition: 0.3s;
}
.main-page button:hover{
  box-shadow:0px 2px 2px;
}